.json-archive-button {
  padding: 7px;
  margin: 0px 10px;
}

.json-tabs {
  margin-bottom: 1em;
  position: static;
}

div.json-tabs.json-hidden
{
  display: none;
}

div.json-tabs.json-hide-tabs ul.ui-tabs-nav
{
  display: none;
}
div.json-tabs.json-hide-tabs .ui-tabs-panel
{
  padding: 0;
}

.json-tabs .json-textarea {
  width: 100%;
  height: 302px;
  font-family: monospace;
  font-size: 14px;
  resize: vertical;
}

.json-tabs .json-save-button {
  padding: 7px 10px;
  margin: 0px 10px;
  font-weight: bold;
  display: none;
}

.json-tabs .json-error {
  background-color: #ffaaaa;
}

.json-tabs .json-log {
  overflow-x: auto;
  white-space: nowrap;
}

.json-tabs pre {
  margin: 0px;
  padding: 0px;
}

.json-extract-ejs span
{
  display: none;
}

/* https://highlightjs.org/ */
/* a11y-light theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #696969;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d91e18;
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #aa5d00;
}

/* Yellow */
.hljs-attribute {
  color: #aa5d00;
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #008000;
}

/* Blue */
.hljs-title,
.hljs-section {
  color: #007faa;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #7928a1;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #fefefe;
  color: #545454;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
        color: highlight;
    }

    .hljs-keyword,
    .hljs-selector-tag {
        font-weight: bold;
    }
}
